<div class="container mt-5">
   <div class="row">
    <div class="col-md-6">
      <app-test-content>
        <h2>SignUp</h2>
        <button class="btn btn-primary">SignUp</button>
      </app-test-content> 
      </div>
  <div class="col-md-6">
  <app-test-content>
      <h2>LogIn</h2>
     <button class="btn btn-primary">LogIn</button>
    </app-test-content>
      </div>
  </div>
</div>



<!-- <div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <app-auth-component>
        <h1>Log-In</h1>
        <button class="btn btn-primary">LogIn</button>
      </app-auth-component>
    </div>
    <div class="col-md-6">
    <app-auth-component>
        <h1>SignUp</h1>
      <button class="btn btn-danger">SignUp</button>
      </app-auth-component>
    
  </div>
</div> -->
 


<div class="container mt-5 ">
  <div class="row">
    <div class="col-md-6 offset-3 p-4">
      <app-auth-component>
        <strong>Content</strong>
        <p>
          <strong>Javascript : </strong>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit officiis officia assumenda vitae quidem omnis. Nihil exercitationem officia eos distinctio fugit error delectus non. Deserunt temporibus quibusdam nihil voluptatem iste.
      </p>
      </app-auth-component>
      <app-auth-component>
        <strong>Javascript</strong>
        <p>
          <strong>Javascript : </strong>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit officiis officia assumenda vitae quidem omnis. Nihil exercitationem officia eos distinctio fugit error delectus non. Deserunt temporibus quibusdam nihil voluptatem iste.
      </p>
      </app-auth-component>
      <app-auth-component>
        <strong>Css</strong>
        <p>
          <strong>Css : </strong>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit officiis officia assumenda vitae quidem omnis. Nihil exercitationem officia eos distinctio fugit error delectus non. Deserunt temporibus quibusdam nihil voluptatem iste.
      </p>
      </app-auth-component>
    </div>
  </div>
</div>